/*
blue #00b7c2
black #1b262c
grey #ebecf1
dark-grey #99a8b2
*/

body {
  font-family: sans-serif;
  /* background-color: #00b7c2; */
}

* {
  box-sizing: border-box;
}

.calculator {
  width: 300px;
  height: 470px;
  border-radius: 15px;
  background-color: #ebecf1;
  overflow: hidden;
  margin: 30px;
}

.display {
  width: 100%;
  height: 120px;
  background-color: #1b262c;
  color: #ebecf1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.display__history {
  font-size: 20px;
  color: #99a8b2;
}
.display__result {
  font-size: 30px;
  color: #ebecf1;
}

.keys {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keys__column {
  display: flex;
}

.keys__key {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 20px;
  box-shadow: 1px 1px 3px #99a8b2;
  cursor: pointer;
}
.keys__key:active {
  box-shadow: inset 1px 1px 3px #99a8b2;
}
.operator {
  background-color: #00b7c2;
}
.operator2 {
  background-color: #1b262c;
  color: white;
}
.big-3 {
  width: 170px;
}
.big-2 {
  width: 110px;
}
